@{
    ViewData["Title"] = "Information";
}

<div class="container mt-5">
    <img src="~/images/Logo.png" class="img-fluid mb-4" alt="Ticketbase Logo" style="max-height: 150px;" />
    <h1>Hello!</h1>
    <p class="lead">Ticketbase is a website developed for you to get all your tickets for all your favourite bands!</p>
    <p>You can view all the current concerts, or what genres there are.</p>
</div>